@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Site/Shared/SiteLayout.cshtml";
}

<!--	Body	-->
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <nav>
                    @{
                        var partialTopMenu = await Html.PartialAsync("~/Views/Site/Shared/TopMenu.cshtml");
                    }
                    @partialTopMenu
                </nav>
            </div>
        </div>

        <div id="main" class="col-lg-12 col-md-12 col-sm-12">
            <!--    Slider  -->
            <!--	Slider	-->
            <!--	End Slider	-->
            <!--	Order Success	-->
            <div id="order-success">
                <div class="container">
                    <div class="row">
                        <div id="order-success-img" class="col-lg-2 col-md-2 col-sm-12"></div>
                        <div id="order-success-txt" class="col-lg-10 col-md-10 col-sm-12">
                            <h1>
                                Đơn hàng đã đặt thành công!
                                Cảm ơn bạn đã mua hàng.
                            </h1>
                            <hr>
                            <div class="row">
                                <div id="info" class="col-lg-6 col-md-6 col-sm-12">
                                    <h2>Thông tin đơn hàng:</h2>
                                    <table>
                                        <tr>
                                            <th>Đơn hàng số:</th>
                                            <th> 60235</th>
                                        </tr>
                                        <tr>
                                            <th>Ngày mua: </th>
                                            <th> Oct 03, 2020</th>
                                        </tr>
                                        <tr>
                                            <th>Tổng biên:</th>
                                            <th> đ400,000</th>
                                        </tr>
                                        <tr>
                                            <th>Phương thức thanh toán:</th>
                                            <th> Tiền mặt.</th>
                                        </tr>
                                    </table>
                                </div>
                                <div id="info" class="col-lg-6 col-md-6 col-sm-12">
                                    <h2>Thông tin khách hàng:</h2>
                                    <table>
                                        <tr>
                                            <th>Họ Tên:</th>
                                            <th>Nguyễn Văn T</th>
                                        </tr>
                                        <tr>
                                            <th>Số điện thoại:</th>
                                            <th> 0123 456 789</th>
                                        </tr>
                                        <tr>
                                            <th>Địa chỉ / Nơi nhận hàng:</th>
                                            <th>Số nhà 18, ngõ 108, đường Võ Văn Dũng - Hoàng Cầu - Đống Đa.</th>
                                        </tr>
                                        <tr>
                                            <th>Thành phố:</th>
                                            <th> Hà Nội.</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div id="info-receipt" class="col-lg-12 col-md-12 col-sm-12">
                                    <h2>Hóa đơn:</h2>
                                    <table>
                                        <tr id="row-1">
                                            <th id="column-1">Sản phẩm</th>
                                            <th id="column-2">Số lượng</th>
                                            <th id="column-3">Giá tiền</th>
                                        </tr>
                                        <tr id="row-2">
                                            <th id="column-1">Sản phẩm 1:</th>
                                            <th id="column-2">x02</th>
                                            <th id="column-3">đ720,000</th>
                                        </tr>
                                        <tr id="row-3">
                                            <th id="column-1">Sản phẩm 2:</th>
                                            <th id="column-2">x02</th>
                                            <th id="column-3">đ720,000</th>
                                        </tr>
                                        <tr id="row-4">
                                            <th id="column-1">Tổng:</th>
                                            <th id="column-2">x04</th>
                                            <th id="column-3">đ1,400,00</th>
                                        </tr>
                                    </table>
                                    <div id="extra-buttons">
                                        <a href="#">Trang chủ</a>
                                        <a href="#">Tiếp tục mua sắm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--	End Order Success	-->
        </div>
    </div>
</div>
<!--	End Body	-->
