<div id="menu" class="collapse navbar-collapse">
    <ul>
        <li class="menu-item"><a href="/product">iPhone</a></li>
        <li class="menu-item"><a href="/product">Samsung</a></li>
        <li class="menu-item"><a href="/product">HTC</a></li>
        <li class="menu-item"><a href="/product">Nokia</a></li>
        <li class="menu-item"><a href="/product">Sony</a></li>
        <li class="menu-item"><a href="/product">Blackberry</a></li>
    </ul>
</div>